{% extends "index.html" %}

{% block content %}

<form method="post" action="/agregacion">
    <div id="id_agregacion">
        <h3 id="agregacion"> AGREGAR </h3>
        <div id="agregacion">
            <label for="Titulo"> titulo: </label>
            <input type="text" id="Titulo" name="Titulo" required />
        </div>
        <div id="agregacion">
            <label for="Director"> director: </label>
            <select name="Director" id="modificacion_director">
                {% for datos in directores %}
                <option> {{ datos }} </option>
                {% endfor %}
            </select>
        </div>
        <div id="agregacion">
            <label for="Anio"> anio: </label>
            <input type="number" id="Anio" name="Anio" required />
        </div>
        <div id="agregacion">
            <label for="Genero"> genero: </label>
            <select name="Genero" id="modificacion_genero">
                {% for datos in generos %}
                <option> {{ datos }} </option>
                {% endfor %}
            </select>
        </div>
        <div id="agregacion">
            <label for="Actores"> actores: </label>
            <input type="text" id="Actores" name="Actores" required />
        </div>
        <div id="agregacion">
            <label for="Sinopsis"> sinopsis: </label>
            <input type="text" id="Sinopsis" name="Sinopsis" required />
        </div>
        <div id="agregacion">
            <label for="Link"> link: </label>
            <input type="text" id="Link" name="Link" required />
        </div>
        <div id="agregacion">
            <label for="Comentario"> comentario: </label>
            <input type="text" id="Comentario" name="Comentario" required />
        </div>
        <div id="agregacion">
            <label for="Puntuacion"> puntuacion: </label>
            <input type="number" id="Puntuacion" name="Puntuacion" min="0" max="10" required />
        </div>
        <div id="agregacion">
            <button type="submit"> ENVIAR </button>
        </div>
    </div>
</form>

{% endblock %}