{% block content %}

<nav class="barra_de_navegacion">
    <div class="contenedor_barra">
        <h2> COCO+ </h2>
        <form action="/confirmacion" method="post">
            <div class="flex">
                <input type="text" id="Titulo" name="Titulo" />
                <button class="boton" type="submit"> BUSCAR </button>
            </div>
        </form>
    </div>
</nav>
{% if titulo1 != "" %}
{% for datos in peliculas %}
{% if datos["titulo"] == titulo1 %}
<div id="peliculas">
    <h3> {{ datos ['titulo'] }} </h3>
    <p> Director: {{ datos ['director'] }} </p>
    <p> Anio: {{ datos ['anio'] }} </p>
    <p> Genero {{ datos ['genero'] }} </p>
    <p> Sinopsis: {{ datos ['sinopsis'] }} </p>
    <p> Link {{ datos ['link'] }} </p>
    <p> Comentario: {{ datos ['comentario'] }} </p>
    <p> Puntuacion: {{ datos ['puntuacion'] }} </p>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}