{% extends "index.html" %}

{% block content %}

<nav class="barra_de_navegacion">
    <div class="contenedor_barra">
        <h2> COCO+ </h2>
        <form action="/buscador" method="post">
            <div class="flex">
                <input type="search" class="buscador" name="buscador" />
                <button class="boton" type="button"> BUSCAR </button>
            </div>
        </form>
    </div>
</nav>
{% for i in peliculas %}
<article>
    <div id="peliculas">
        <h3> {{ i ['titulo'] }} </h3>
        <p> {{ i ['director'] }} </p>
        <p> {{ i ['anio'] }} </p>
        <p> {{ i ['genero'] }} </p>
        <p> {{ i ['sinopsis'] }} </p>
        <p> {{ i ['link'] }} </p>
        <p> {{ i ['comentario'] }} </p>
        <p> {{ i ['puntuación'] }} </p>
    </div>
</article>
{% endfor %}
{% endblock %}