{% block content %}

<form method="post" action="/edicion/{{pelicula}}" id="edicion">
    <div id="id_agregacion">
        <h3 id="agregacion"> AGREGAR </h3>
        <div id="agregacion">
            <label for="titulo"> titulo: </label>
            <input type="text" id="titulo" name="titulo" required />
        </div>
        <div id="agregacion">
            <label for="director"> director: </label>
            <input type="text" id="director" name="director" required />
        </div>
        <div id="agregacion">
            <label for="anio"> anio: </label>
            <input type="number" id="anio" name="anio" required />
        </div>
        <div id="agregacion">
            <label for="genero"> genero: </label>
            <input type="text" id="genero" name="genero" required />
        </div>
        <div id="agregacion">
            <label for="sinopsis"> sinopsis: </label>
            <input type="text" id="sinopsis" name="sinopsis" required />
        </div>
        <div id="agregacion">
            <label for="link"> link: </label>
            <input type="text" id="link" name="link" required />
        </div>
        <div id="agregacion">
            <label for="comentario"> comentario: </label>
            <input type="text" id="comentario" name="comentario" required />
        </div>
        <div id="agregacion">
            <label for="puntacion"> puntuacion: </label>
            <input type="text" id="puntuacion" name="puntuacion" required />
        </div>
        <div id="agregacion">
            <button type="submit"> ENVIAR </button>
        </div>
    </div>
</form>

{% endblock %}