{% extends "index.html" %}

{% block content %}

{% for datos in peliculas[peliculas|length-10]|reverse %}
{% if datos['link'] != '' %}
<div id="peliculas">
    <img src="{{ datos ['link'] }}" width="200" , height="300" />
    <h3> {{ datos ['titulo'] }} </h3>
    <p> Director: {{ datos ['director'] }} </p>
    <p> Anio: {{ datos ['anio'] }} </p>
    <p> Genero {{ datos ['genero'] }} </p>
    <p> Actores: {{ datos ['actores']}} </p>
    <p> Sinopsis: {{ datos ['sinopsis'] }} </p>
    <p> Comentario: {{ datos ['comentario'] }} </p>
    <p> Puntuacion: {{ datos ['puntuacion'] }} </p>
</div>
{% endif %}
{% endfor %}
<p>Total de peliculas: {{ total_peliculas }}</p>
<p>Total de páginas: {{ total_paginas }}</p>
<p>Pagina recurrente: {{ pagina_recurrente }}</p>
<p>Navegacion:</p>
<nav>
    <ul>
        {% if pagina_recurrente > 1 %}
        <li>
            <a href="/?pagina={{ pagina_recurrente - 1 }}">Pagina previa</a>
        </li>
        {% endif %}
        {% if pagina_recurrente < total_paginas %}
        <li>
            <a href="/?pagina={{ pagina_recurrente + 1 }}">Siguiente pagina</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}