<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Catálogo de peliculas </title>
</head>
<body>
    <h1>Bienvenido, {{ nombre }}!</h1>
    <h2>Catalogo de peliculas</h2>
    {% for datos in peliculas %}
    <div id="peliculas">
        <h3> {{ datos ['titulo'] }} </h3>
        <p> Director: {{ datos ['director'] }} </p>
        <p> Anio: {{ datos ['anio'] }} </p>
        <p> Genero {{ datos ['genero'] }} </p>
        <p> Sinopsis: {{ datos ['sinopsis'] }} </p>
        <p> Link {{ datos ['link'] }} </p>
        <p> Comentario: {{ datos ['comentario'] }} </p>
        <p> Puntuacion: {{ datos ['puntuacion'] }} </p>
    </div>   
    {% endfor %}
    <p>Total de peliculas: {{ total_peliculas }}</p>
    <p>Total de páginas: {{ total_paginas }}</p>
    <p>Pagina recurrente: {{ pagina_recurrente }}</p>
    <p>Numero de visitas: {{ visitas }}</p>
    <p>Navegacion:</p>
    <ul>
        {% if pagina_recurrente > 1 %}
        <li><a href="/?pagina={{ pagina_recurrente - 1 }}">Pagina previa</a></li>
        {% endif %}
        {% if pagina_recurrente < total_paginas %}
        <li><a href="/?pagina={{ pagina_recurrente + 1 }}">Siguiente pagina</a></li>
        {% endif %}
    </ul>
</body>
</html>

