<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> COCO+ </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>
<body>
    <div id="contenedor">
        <header>
            {% block content %}
            <nav class="barra_de_navegacion">
                <div class="contenedor_barra">
                    <h2> COCO+ </h2>
                    <form action="/buscador" method="post">
                        <div class="flex">
                            <input type="search" class="buscador" name="buscador" />
                            <button class="boton" type="button"> BUSCAR </button>
                        </div>
                    </form>
                </div>
            </nav>
            {% for i in peliculas %}
            <article>
                <div id="peliculas">
                    <h3> {{ i ['título'] }} </h3>
                    <p> {{ i ['director'] }} </p>
                    <p> {{ i ['año'] }} </p>
                    <p> {{ i ['género'] }} </p>
                    <p> {{ i ['sinopsis'] }} </p>
                    <p> {{ i ['link'] }} </p>
                    <p> {{ i ['comentario'] }} </p>
                    <p> {{ i ['puntuación'] }} </p>
                </div>
            </article>
            {% endfor %}
            {% endblock %}
            {% block content %}
            <form action="" method="post">
                <label for="usuario"> Usuario: </label>
                <input type="text" id="usuario" name="usuario" required />
                <label for="contraseña"> Contraseña: </label>
                <input type="password" id="contraseña" name="contraseña" required />
                <input type="submit" id="send-signin" name="signin" value="ingresar" />
            </form>
            {% endblock %}
        </header>
        <main>
            {% block content %}
            {% for i in peliculas %}
            <article>
                <div id="pelicula">
                    <h3> {{ i ['título'] }} </h3>
                    <p> {{ i ['director'] }} </p>
                    <p> {{ i ['año'] }} </p>
                    <p> {{ i ['género'] }} </p>
                    <p> {{ i ['sinopsis'] }} </p>
                    <p> {{ i ['link'] }} </p>
                    <p> {{ i ['comentario'] }} </p>
                    <p> {{ i ['puntuación'] }} </p>
                </div>
            </article>
            {% endfor %}
            {% endblock %}
            {% block content %}
            {% for i in peliculas %}
            {% if i['director'] == director %}
            <article>
                <div id="peliculas">
                    <h3> {{ i ['título'] }} </h3>
                    <p> {{ i ['director'] }} </p>
                    <p> {{ i ['año'] }} </p>
                    <p> {{ i ['género'] }} </p>
                    <p> {{ i ['sinopsis'] }} </p>
                    <p> {{ i ['link'] }} </p>
                    <p> {{ i ['comentario'] }} </p>
                    <p> {{ i ['puntuación'] }} </p>
                </div>
            </article>
            {% endfor %}
            {% endblock %}
            {% block content %}
            {% for i in peliculas %}
            <article>
                <div id="directores">
                    <h3> {{ i ['título'] }} </h3>
                    <p> {{ i ['director/ra']}} </p>
                </div>
            </article>
            {% endfor %}
            {% endblock %}
            {% block content %}
            {% for i in peliculas %}
            <article>
                <div id="generos">
                    <h3> {{ i ['título'] }} </h3>
                    <p> {{ i ['genero']}} </p>
                </div>
            </article>
            {% endfor %}
            {% endblock %}
            {% block content %}
            <form method="post" action="/agregacion">
                <div id="id_agregacion">
                    <h3 id="agregacion"> AGREGAR </h3>
                    <div id="agregacion">
                        <label for="titulo"> título: </label>
                        <input type="text" id="titulo" name="titulo" required />
                    </div>
                    <div id="agregacion">
                        <label for="director"> director/ra: </label>
                        <input type="text" id="director" name="director" required />
                    </div>
                    <div id="agregacion">
                        <label for="año"> año: </label>
                        <input type="number" id="año" name="año" required />
                    </div>
                    <div id="agregacion">
                        <label for="genero"> género: </label>
                        <input type="text" id="genero" name="genero" required />
                    </div>
                    <div id="agregacion">
                        <label for="sinopsis"> sinopsis: </label>
                        <input type="text" id="sinopsis" name="sinopsis" required />
                    </div>
                    <div id="agregacion">
                        <label for="link"> link: </label>
                        <input type="text" id="link" name="link" required />
                    </div>
                    <div id="agregacion">
                        <label for="comentario"> comentario: </label>
                        <input type="text" id="comentario" name="comentario" required />
                    </div>
                    <div id="agregacion">
                        <label for="puntacion"> puntuación: </label>
                        <input type="text" id="puntuacion" name="puntuacion" required />
                    </div>
                    <div id="agregacion">
                        <button type="submit"> ENVIAR </button>
                    </div>
                </div>
            </form>
            {% endblock %}
            {% block content %}
            <form method="post" action="/edicion/{{pelicula}}" id="edicion">
                <div id="id_agregacion">
                    <h3 id="agregacion"> AGREGAR </h3>
                    <div id="agregacion">
                        <label for="titulo"> título: </label>
                        <input type="text" id="titulo" name="titulo" required />
                    </div>
                    <div id="agregacion">
                        <label for="director"> director/ra: </label>
                        <input type="text" id="director" name="director" required />
                    </div>
                    <div id="agregacion">
                        <label for="año"> año: </label>
                        <input type="number" id="año" name="año" required />
                    </div>
                    <div id="agregacion">
                        <label for="genero"> género: </label>
                        <input type="text" id="genero" name="genero" required />
                    </div>
                    <div id="agregacion">
                        <label for="sinopsis"> sinopsis: </label>
                        <input type="text" id="sinopsis" name="sinopsis" required />
                    </div>
                    <div id="agregacion">
                        <label for="link"> link: </label>
                        <input type="text" id="link" name="link" required />
                    </div>
                    <div id="agregacion">
                        <label for="comentario"> comentario: </label>
                        <input type="text" id="comentario" name="comentario" required />
                    </div>
                    <div id="agregacion">
                        <label for="puntacion"> puntuación: </label>
                        <input type="text" id="puntuacion" name="puntuacion" required />
                    </div>
                    <div id="agregacion">
                        <button type="submit"> ENVIAR </button>
                    </div>
                </div>
            </form>
            {% endblock %}
            {% block content %}
            <form action="/eliminacion/{{pelicula}}" method="post" id="boton_eliminacion">
                <button type="submit" id="boton:eliminacion"> ELIMINAR </button>
            </form>
            {% endblock %}
            {% block content %}
            <form action="/modificacion_direccion" method="post" id="modificacion">
                <select nombre="director" id="modificacion_director">
                    {% for i in peliculas %}
                    <option> {{ i ['director/ra']}} </option>
                    {% endfor %}
                </select>
                <label for="nuevo_director"> director/ra: </label>
                <input type="text" id="nuevo_director" name="director" required />
                <button type="submit" id="modificacion_director"> MODIFICAR </button>
            </form>
            {% endblock %}
            {% extends index.html %}
            {% block content %}
            <form action="/modificacion_genero" method="post" id="modificacion">
                <select nombre="genero" id="modificacion_genero">
                    {% for i in peliculas %}
                    <option> {{ i ['género']}} </option>
                    {% endfor %}
                </select>
                <label for="nuevo_genero"> género: </label>
                <input type="text" id="nuevo_genero" name="genero" required />
                <button type="submit" id="modificacion_genero"> MODIFICAR </button>
            </form>
            {% endblock %}
            <div id="botones_pagina">
                {% if pagina_recurrente > 1 %}
                <span class="material-simbols-outlined" id="anterior">
                    keyboard_double_arrow_left
                </span>
                <a href="?num_pagina{{ pagina_recurrente - 1 }}" class="boton_pag"> Anterior </a>
                {% endif %}
                {% if pagina_recurrente < total_paginas %}
                <span class="material-simbols-outlined" id="siguiente">
                    keyboard_double_arrow_right
                </span>
                <a href="?num_pagina{{ pagina_recurrente + 1 }}" class="boton_pag"> siguiente </a>
                {% endif %}
            </div>
        </main>
        <footer>
            <p> visitas: {{ visitas }} </p>
        </footer>
    </div>
</body>
</html>
